@media (width >= 768px) {
    .newsletter__form {
        width: 47.5%;
    }
}

@media (width < 600px) {
    .modality {
        padding: 1.5rem !important;
    }

    .fundamentals,
    .react {
        padding: 2rem !important;
    }
}

@media (width <= 768px) {
    .fundamentals__img,
    .react__img {
        width: 80% !important;
        margin: 0 auto;
    }
}
