body::before {
    display: block;
    content: "";
    height: 60px;
    background-color: rgba(var(--bs-dark-rgb));
}

@media (width <= 768px) {
    .fundamentals__img,
    .react__img {
        width: 80% !important;
        margin: 0 auto;
    }
}

@media (width <= 992px) {
    .questions-accordion {
        width: 95% !important;
    }
}

@media (width >= 768px) {
    .newsletter__form {
        width: 47.5%;
    }
}
